Source: pve-firmware
Section: misc
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Homepage: http://www.proxmox.com
Build-Depends: debhelper-compat (= 12), rdfind
Standards-Version: 4.6.1

Package: pve-firmware
Architecture: all
Depends: ${misc:Depends},
Suggests: linux-image,
Conflicts: firmware-amd-graphics,
           firmware-ath9k-htc,
           firmware-atheros,
           firmware-bnx2,
           firmware-bnx2x,
           firmware-brcm80211,
           firmware-cavium,
           firmware-intelwimax,
           firmware-ipw2x00,
           firmware-ivtv,
           firmware-iwlwifi,
           firmware-libertas,
           firmware-linux-free,
           firmware-linux-nonfree,
           firmware-misc-nonfree,
           firmware-myricom,
           firmware-netronome,
           firmware-netxen,
           firmware-qlogic,
           firmware-ralink,
           firmware-realtek,
           firmware-siano,
           firmware-ti-connectivity,
Replaces: firmware-amd-graphics,
          firmware-ath9k-htc,
          firmware-atheros,
          firmware-bnx2,
          firmware-bnx2x,
          firmware-brcm80211,
          firmware-cavium,
          firmware-intelwimax,
          firmware-ipw2x00,
          firmware-ivtv,
          firmware-iwlwifi,
          firmware-libertas,
          firmware-linux-free,
          firmware-linux-nonfree,
          firmware-misc-nonfree,
          firmware-myricom,
          firmware-netronome,
          firmware-netxen,
          firmware-qlogic,
          firmware-ralink,
          firmware-realtek,
          firmware-siano,
          firmware-ti-connectivity,
Description: Binary firmware code for the pve-kernel
 This package contains the binary firmware for various modules used in
 the pve-kernel.
